*{
    box-sizing: border-box;
    margin: 0;
    
}
body{

    background-image: url(imagenes/iglesia.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
}
/* barra de navegacion  */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    color:white;
    list-style: none;
    font-family:'Oswald', sans-serif;
    font-size: 25px;
    
}
.nav-bar .lista ul li{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.barrita{
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
}
/* el hover de los enlaces de la barra */
.barrita:after{
    content: '';
    position: absolute;
    width:100%;
    height: 4px;
    background-color: red;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
}
.barrita:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.6s ease-out;
}
/* el titulo principal */
.inicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inicio .titulos-izquierda h1{
    font-family:'Oswald', sans-serif; 
    color: white;
    font-size: 90px;
    text-align: left;
    margin: 100px;
}
/* el h4 */
.inicio .titulos-izquierda h4{
    font-family:'Edu NSW ACT Foundation', cursiva;
    color: white;
    font-size: 30px;
    margin-bottom: 70px;
    text-align: center;
}
/* titulo mi norte */
.mi-norte{
    text-align: center;
}
.inicio h2{
    font-size: 140px;
    font-family: 'Irish Grover', cursiva;
    color: rgb(231, 53, 9);
}
.inicio h3{
    font-family:'Edu NSW ACT Foundation', cursiva ;
    color: white;
    font-size: 30px;
}

/* el despliegue de las excursiones*/
.desplegar {
    background-color: rgba(0, 0, 0, 0.445);
    border-style:ridge;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    color: white;
    font-family:  'Roboto', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.desplegar.desplegar-1::after{
        content: "";
        width: 100%;
        height: 100%;
        background-color: red;
        position: absolute;    /* para que  el color rojo tapae todo y se desborde */
        z-index: 1;
        left: -101%;
        border-radius: 10px;
        transition: .3s ease-in-out all;
}
.desplegar span{
    position:relative;
    z-index: 2;
    transition: .3s ease all;
}
.desplegar.desplegar-1:hover::after{
    left: 0%;
}


/* clase adicional para js de las tarjetas */
.desplegadas{
    display: grid;
    grid-template-columns: 33% 33% 33%;
} 

 /* aca empiezan las tarjetas  */
section{
    display: none;
    margin-bottom: 50px;
    width: 100%;
    transition: 0.5s;
}  
section div {
    margin-top: 70px;
}
/* estilos de las tarjetas  */
.tarjetas .excur{
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-family: 'Oswald', sans-serif; 
    color: white;
    font-size: 25px;
}
.tarjetas .excur img{
    height: 30vh;
    width: 20vw;
    border-radius: 20px;
}
.tarjetas .excur h3{
    margin-bottom: 10px;
}
.tarjetas .excur p{
    font-size: 20px;
    font-family: 'Edu NSW ACT Foundation', cursiva;
}

/* nuestros clientes */
.nuestros-clientes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    background: linear-gradient(-180deg, rgb(237, 22, 22), rgb(30, 13, 1));
    border-radius: 30px;
    margin-top: 50px;
    opacity: 70%;
}
/* el hover de nuestros clientes */
.nuestros-clientes:hover{
    opacity: 100%;
    transition: 0.5s;
}
.nuestros-clientes h2{
    font-family:'Oswald', sans-serif; 
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}
.nuestros-clientes .primer-comentario {
    color: white;
    font-family:'Edu NSW ACT Foundation', cursiva; 
    text-align: center;
    font-size: 25px;
    
}
.nuestros-clientes .segundo-comentario {
    color: white;
    font-family:'Edu NSW ACT Foundation', cursiva; 
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
}
.nuestros-clientes .tercer-comentario {
    color: white;
    font-family:'Edu NSW ACT Foundation', cursiva; 
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
}
/* el titulo de los comnetarios */
.titulo-comentario {
    color: white;
    text-align: center;
    padding: 25px 0px;
    font-family:'Oswald', sans-serif ;
    font-size: 30px;
}
/* el enlace de los comentarios  */
.enlace-coment{
    background-color: rgba(0, 0, 0, 0.445);
    border-style:ridge;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    color: white;
    font-family:  'Roboto', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.coment-1 a{
    text-decoration: none;
    color: white;
}
.enlace-coment.coment-1::after{
        content: "";
        width: 100%;
        height: 100%;
        background-color: red;
        position: absolute;    /* para que  el color rojo tapae todo y se desborde */
        z-index: 1;
        left: -101%;
        border-radius: 10px;
        transition: .3s ease-in-out all;
}
.enlace-coment span{
    position:relative;
    z-index: 2;
    transition: .3s ease all;
}
.enlace-coment.coment-1:hover::after{
    left: 0%;
}

/* el nombre de la empresa previo al footer */
.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.nosotros h2 {
    font-size: 90px;
    font-family: 'Irish Grover', cursiva;
    color: rgb(231, 53, 9);
}
.nosotros h3{
    font-family:'Edu NSW ACT Foundation', cursiva;
    color: white;
    font-size: 30px;
}
.nosotros a {
    text-decoration: none;
    color: rgb(231, 53, 9);
} 
/* aca va el footer */
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.24)
    
}    
.icon p{
    color: white;
    font-size: 20px;
    text-align:start;
    position: relative;
    top: 5px;

}
.icon img{
    width: 10%;
}
/* diseño adaptativo */
@media (max-width: 900px) {
    .inicio .titulos-izquierda h1{
        font-family:'Oswald', sans-serif; 
        color: white;
        font-size: 90px;
        text-align: left;
    } 
    /* boton para ver las excurciones  */
    .desplegar{
        width: 60%;
        font-size: 20px;
    }
    .comentario-cliente{
        width: 55%;
    }
    /* boton comentario cliente  */
    .enlace-coment{
        width: 60%;
        font-size: 20px;
    }
    /* las tarjetas */
    .desplegadas{
        display: grid;
        grid-template-columns: 50vw 50vw;
        margin: 20px ;
    }
    .tarjetas .excur{
        width: 45vw;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .tarjetas .excur img{
        width: 35vw;
    }
}
@media (max-width: 768px){
    
    /* los titulos del inicio */
    .inicio{
        display: grid;
        grid-template-columns:100%;
    }
    .inicio .titulos-izquierda h1{
        text-align: center;
    }
    .inicio h2{
        font-size:80px;
    }
    .inicio h3{
        margin-bottom: 30px;
    }
    .inicio .titulos-izquierda h4{
        margin-bottom: 20px;
    }
    /* el h4 de los años de experiencia */
    .mi-norte h3{
        font-size: 25px;
    }
    /* el despliegue de las tarjetas  */
    .desplegar{
        font-size: 20px;
        width: 70%;
    }
    .desplegadas{
        display: grid;
        grid-template-columns: 95%;
        margin-top: 10px;
    }
    .tarjetas .excur{
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .tarjetas .excur img{
        width: 70%;
    }
    /* el titulo del boton */ 
    .titulo-comentario{
        font-size:20px;
    }
    /* boton comentario cliente  */
    .enlace-coment{
        width: 60%;
        font-size: 20px;
    }
    /* el footer */
    .nosotros h2{
        font-size: 45px;
    }
    .icon p{
        font-size: 15px;
        }
    /* los input del formulario */
    .comentario-cliente{
        width: 55%;
    }
    /* titulos del formulario */
    .titulo-comentario{
        font-size: 40px;
    }
    .nuestros-clientes h2{
        font-size: 40px;
        margin-bottom: 40px;
    }
}
@media (max-width: 490px){
    /* el boton par las tarjetas  */
    .desplegar{
        font-size: 15px;
        width: 75%;
    }
    /* las tarjetas */
    .desplegadas{
        display: grid;
        grid-template-columns: 95%;
        margin-top: 10px;
    }
    .tarjetas .excur{
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .tarjetas .excur img{
        width: 80%;
    }
    /* los comentarios del cliente  */
    .comentario-cliente{
        width: 65%;
    }
    .inicio .titulos-izquierda h1{
        text-align: center;
        font-size: 50px;
        margin: 50px;
    }
    /* el titulo del boton  */
    .titulo-comentario{
        font-size: 20px;
    }
    /* boton comentario cliente  */
    .enlace-coment{
        width: 75%;
        font-size: 15px;
    }
    /* el footer */
    .redes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.24);
        width: 100%;
    }
    .icon img{
        width: 5%;
    }
}







